<tr class="track <%= track.undergroundness ? 'ranked' : 'unranked' %>" >
  <td class="delete-track track-cell">
    <%= image_tag("delete_track_icon.png") %>
  </td>
  <td class="track-title track-cell"><%= track.title %></td>
  <td class="track-artist track-cell"><%= track.artist %></td>
  <td class="undergroundness-rating track-cell">
    <div class="undergroundness-label">
      UNDERGROUNDNESS
    </div>
    <div class="rating-selector">
      <% 1.upto(5) do |n| %>
        <div
         class="rating-item <%= track.undergroundness == n ? 'selected' : '' %>"
         data-rating="<%= n %>"
         data-track="<%= track.id %>"
         ></div>
      <% end %>
    </div>
  </td>
</tr>
