<div
  class="track <%= track.undergroundness ? 'ranked' : 'unranked' %>"
  data-created_at="<%= track.created_at.to_i %>"
  data-title="<%= track.title %>"
  data-artist="<%= track.artist %>"
  data-undergroundness="<%= track.undergroundness %>"
  >
  <div class="delete-track track-cell">
    <%= image_tag("delete_track_icon.png") %>
  </div>
  <div class="track-title track-cell"><%= track.title %></div>
  <div class="track-artist track-cell"><%= track.artist %></div>
  <div class="undergroundness-rating track-cell">
    <div class="undergroundness-label">
      UNDERGROUNDNESS
    </div>
    <div class="rating-selector">
      <% 1.upto(5) do |n| %>
        <div
         class="rating-item <%= track.undergroundness == n ? 'selected' : '' %>"
         data-rating="<%= n %>"
         data-track="<%= track.id %>"
         ></div>
       <% end %>
    </div>
  </div>
</div>
