<%= simple_form_for(@station) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :short_description %>
    <%= f.input :station_type, as: :radio_buttons, collection: ["standard", "featured", "sponsored"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
