<p id="notice"><%= notice %></p>

<section class="margin-bottom">
  <div class="station show-page">

   <%= link_to edit_station_path(@station) do %>
    <% if @station.station_art.blank? %>
      <div class="station-content"><%= @station.name %></div>
    <% else %>
      <%= image_tag @station.station_art, class: "station-art" %>
    <% end %>
  <% end %>

  </div>

  <div id="station-song-loader">
    <div class="loader-content">
      Drag and drop spotify tracks or playlists
    </div>
  </div>
</section>

<section class="station-toolbar margin-bottom">
  <div class="total-tracks">
    Total Tracks: <%= @tracks.count %>
</div>

  <div class="station-sort">
    SORT

    <select id="sort-select">
      <option value="created_at:desc">Added</option>
      <option value="title:asc">Title</option>
      <option value="artist:asc">Artist</option>
      <option value="undergroundness:desc">Undergroundness</option>
    </select>
  </div>
</section>

<section class = "list-functions">
    <div class="mixitup-page-list"></div>
    <div class="mixitup-page-stats"></div>
</section>

<div class="filters">
  <div class="filter-btn" data-filter="all">
    All
  </div>

  <div class="filter-btn" data-filter=".unranked">
    Unranked
  </div>

  <div class="filter-btn" data-filter=".ranked">
    Ranked
  </div>
</div>

<div class="rating-labels">
  <div class="more-popular">
    MORE POPULAR
  </div>
  <div class="less-popular">
    LESS POPULAR
  </div>
</div>

<div id="tracks">
  <% @tracks.each do |track| %>
    <%= render 'tracks/track', track: track %>
  <% end %>
</div>

<div class="mixitup-page-list"></div>
<div class="mixitup-page-stats"></div>
