<p id="notice"><%= notice %></p>

<div class="row">
  <div class="station show">
    <div class="station-content">
      <%= @station.name %>
    </div>
  </div>

  <div id="station-song-loader">
    <div class="loader-content">
      Drag and drop spotify tracks or playlists
    </div>
  </div>
</div>

<div class="station-toolbar row">
  <div class="total-tracks">
    Total Tracks: <%= @tracks.count %>
  </div>

  <div class="station-sort">
    <label>SORT</label>

    <select id="sort-select">
      <option value="created_at:desc">Added</option>
      <option value="title:asc">Title</option>
      <option value="artist:asc">Artist</option>
      <option value="undergroundness:desc">Undergroundness</option>
    </select>
  </div>

  <%= link_to 'UPDATE', "#", class: 'btn update-station' %>
</div>

<div class="filters">
  <div class="filter-btn" data-filter="all">
    All
  </div>

  <div class="filter-btn" data-filter=".unranked">
    Unranked
  </div>

  <div class="filter-btn" data-filter=".ranked">
    Ranked
  </div>
</div>

<table id="tracks">
  <% @tracks.each do |track| %>
    <%= render 'tracks/track', track: track %>
  <% end %>
</table>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
