<p id="notice"><%= notice %></p>

<div class="row">
  <div class="station show">
    <div class="station-content">
      <%= @station.name %>
    </div>
  </div>

  <div id="station-song-loader">
    <div class="loader-content">
      Drag and drop spotify tracks or playlists
    </div>
  </div>
</div>

<div class="station-toolbar row">
  <div class="total-tracks">
    Total Tracks: <%= @tracks.count %>
  </div>

  <div class="station-sort">
  </div>

  <%= link_to 'UPDATE', "#", class: 'btn update-station' %>
</div>

<div class="tabletop-row">
  <div>
    All
  </div>

  <div>
    Unranked
  </div>

  <div>
    Ranked
  </div>

  <div>
    MORE POPULAR
  </div>

  <div>
    LESS POPULAR
  </div>
</div>

<table id="tracks">
  <% @tracks.each do |track| %>
    <%= render 'tracks/track', track: track %>
  <% end %>
</table>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
